.form-checkbox
  margin: 10px !important

.form-errors
  padding: 10px 0px 1px 0px
  margin-bottom: 20px !important
  background-color: rgba(255,0,0,.3)
  border-radius: 5px
  border: 1px solid #000

.multistep-form-header
  text-align: center 

  li
    display: inline-block
    font-size: 18px
    font-weight: 300
    margin-right: 40px

    &.active
      text-decoration: underline
      color: #337ab7

.overlay 
  position: absolute
  left: 0
  top: 0
  bottom: 0
  right: 0
  background: #fff
  opacity: 0.8
  filter: alpha(opacity=80)

.loading
  width: 50px
  height: 57px
  position: absolute
  top: 50%
  left: 50%
  margin: -28px 0 0 -25px
