.form-container
  float: none
  margin: auto
  
  label
    font-weight: 400
    

  ul
    list-style-type: none
    text-align: left
    -webkit-box-shadow: 0px 2px 5px
    -moz-box-shadow: 0px 2px 5px
    -ms-box-shadow: 0px 2px 5px
    box-shadow: 0px 2px 5px
    
    li
      height: 30px

.form-checkbox
  margin: 10px !important

.form-errors
  padding: 10px 0px 1px 0px
  margin-bottom: 20px !important
  background-color: rgba(255,0,0,.3)
  border-radius: 5px
  border: 1px solid #000

