{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require(['src/views/memberlist-send-mail'], function(MemberListSendMailView) {
    new MemberListSendMailView();
  });
</script>
{% endblock %}

{% block content %}

<h2>Send email to <a href="{{ memberlist.get_absolute_url }}">{{ memberlist }}</a></h2>

<div id="form-container" class="centered col-md-4">
  <form>
    <div class="form-group">
      <label>Subject:</label>
      <textarea id="subject" required="" rows="1" class="form-control"></textarea>
      <br>
    </div>
    <div class="form-group">
      <label>Message:</label>
      <textarea id="message" required="" rows="8" class="form-control"></textarea>
      <br>
    </div>
    <button id="send-mail" class="btn btn-success">Send</button>
    <br>
  </form>
</div>

<input id="memberlist-id" type="hidden" value="{{ memberlist.pk }}"> 

{% endblock %}
