{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
 
{% if form.errors %}
<div class="centered left-align col-md-6 form-errors">
  <ul>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div id="form-container" class="centered col-md-4">

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
      {% render_field field class+="form-control" %}
      <br>
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Submit</button>
  </form>

</div>
  
{% endblock %}
