{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="centered left-align col-md-8">
  <h2>Step 1:</h2>
  <p>Download our Excel template file by clicking the button below.</p>
</div>
<div class="centered center-align col-md-4">
  <a class="btn btn-primary" href="{% static 'files/alumnus.xlsx' %}">Download Template</a>
</div>
<div class="centered left-align col-md-8">
  <h2>Step 2:</h2>
  <p>Simply copy and paste your data into the template file. Save the file on your computer.</p>
</div>
<div class="centered left-align col-md-8">
  <h2>Step 3:</h2>
  <p>Upload the newly filled template file to Alumnus via the form below.</p>
</div>
<br>
 
{% if form.errors %}
<div class="centered left-align col-md-6 form-errors">
  <ul>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div id="form-container" class="centered col-md-4">

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} (required){% endif %}:</label>
      {% render_field field class+="form-control" %}
      <br>
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Submit</button>
  </form>

</div>
  
{% endblock %}
