{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require([
    'src/views/email-form',
    'src/views/member-list-filter',
    'src/views/table-buttons',
  ], function(EmailFormView, MemberListFilterView, TableButtonsView) {
    new EmailFormView();
    new MemberListFilterView();
    new TableButtonsView();
  });
</script>
{% endblock %}

{% block content %}

<div class="member-list-container">

  {% include "generic/templates.html" %}

  <div id="messages-container">
  </div>

  <h2>Send email to Members in <a href="{{ organization.get_absolute_url }}">{{ organization }}</a></h2>
  <br>

  <div class="left-align col-sm-3 filters">
    <div class="left-align col-sm-10">
      {% include "generic/filter.html" %}
    </div>
  </div>
  
  <div class="col-sm-6">
    <form>
      {% include "generic/member_table_simple.html" %}
      <br>
      <br>
  
      <div class="form-group"> 
        <label>From:</label>
        <input id="from" required="" class="form-control" value="{{ organization }}">
        <br>
      </div>
      <div class="form-group"> 
        <label>Subject:</label>
        <textarea id="subject" required="" rows="1" class="form-control"></textarea>
        <br>
      </div>
      <div class="form-group">
        <label>Message:</label>
        <textarea id="message" required="" rows="8" class="form-control"></textarea>
        <br>
      </div>
        <button id="send-mail" class="btn btn-success">Send</button>
        <br>
        <br>
      </div>
    </form>
  </div>

  <input id="organization-id" type="hidden" value="{{ organization.pk }}"> 

</div>

{% endblock %}
