{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
 
{% include "generic/form_errors.html" %}

<div id="form-container" class="centered col-md-4">

  <h3>Note:</h3>
  <p class="left-align">You will be automatically signed out of your Alumnus account upon successful submission of this form. When this happens, simply sign back in with your new password.</p>
  <br>

  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }} (required):</label>
      {% render_field field class+="form-control" %}
      <br>
      {% endfor %}
      <button id="btn-submit" class="btn btn-success" type="submit">Submit</button>
    </form>
    <br>
    <br>
  </div>

</div>
  
{% endblock %}
