/* line 1, ../../sass/forms.sass */
.form-checkbox {
  margin: 10px !important;
}

/* line 4, ../../sass/forms.sass */
.form-errors {
  padding: 10px 0px 1px 0px;
  margin-bottom: 20px !important;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid #000;
}

/* line 11, ../../sass/forms.sass */
.multistep-form-header {
  text-align: center;
}
/* line 14, ../../sass/forms.sass */
.multistep-form-header li {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  margin-right: 40px;
}
/* line 20, ../../sass/forms.sass */
.multistep-form-header li.active {
  text-decoration: underline;
  color: #337ab7;
}
