/* line 1, ../../sass/forms.sass */
.form-checkbox {
  margin: 10px !important;
}

/* line 4, ../../sass/forms.sass */
.form-errors {
  padding: 10px 0px 1px 0px;
  margin-bottom: 20px !important;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid #000;
}

/* line 11, ../../sass/forms.sass */
.multistep-form-header {
  text-align: center;
}
/* line 14, ../../sass/forms.sass */
.multistep-form-header li {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  margin-right: 40px;
}
/* line 20, ../../sass/forms.sass */
.multistep-form-header li.active {
  text-decoration: underline;
  color: #337ab7;
}

/* line 24, ../../sass/forms.sass */
.form-inline {
  width: auto;
  display: inline-block;
}

/* line 28, ../../sass/forms.sass */
.btn-xxs {
  padding: 2px 10px;
}

/* line 31, ../../sass/forms.sass */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 41, ../../sass/forms.sass */
.loading {
  width: 50px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -25px;
}

/* line 49, ../../sass/forms.sass */
#loader {
  margin-top: 4px;
}
