/* line 1, ../../sass/forms.sass */
.form-container {
  float: none;
  margin: auto;
}
/* line 5, ../../sass/forms.sass */
.form-container label {
  font-weight: 400;
}
/* line 9, ../../sass/forms.sass */
.form-container ul {
  list-style-type: none;
  text-align: left;
  -webkit-box-shadow: 0px 2px 5px;
  -moz-box-shadow: 0px 2px 5px;
  -ms-box-shadow: 0px 2px 5px;
  box-shadow: 0px 2px 5px;
}
/* line 17, ../../sass/forms.sass */
.form-container ul li {
  height: 30px;
}

/* line 20, ../../sass/forms.sass */
.form-checkbox {
  margin: 10px !important;
}

/* line 1, ../../sass/stock.sass */
.centered {
  float: none;
  margin: auto;
}

/* line 5, ../../sass/stock.sass */
.left-align {
  text-align: left;
}

/* line 8, ../../sass/stock.sass */
.center-align {
  text-align: center;
}

/* line 11, ../../sass/stock.sass */
.cleared {
  clear: left;
}

/* line 15, ../../sass/stock.sass */
.table-clickable td {
  cursor: pointer;
}

/* line 1, ../../sass/filter.sass */
.field-filter, .field-choice {
  margin: 0px 30px;
}
