/* line 1, ../../sass/forms.sass */
.form-container {
  float: none;
  margin: auto;
}
/* line 5, ../../sass/forms.sass */
.form-container label {
  font-weight: 400;
}
/* line 9, ../../sass/forms.sass */
.form-container ul {
  list-style-type: none;
  text-align: left;
  -webkit-box-shadow: 0px 2px 5px;
  -moz-box-shadow: 0px 2px 5px;
  -ms-box-shadow: 0px 2px 5px;
  box-shadow: 0px 2px 5px;
}
/* line 17, ../../sass/forms.sass */
.form-container ul li {
  height: 30px;
}

/* line 20, ../../sass/forms.sass */
.form-checkbox {
  margin: 10px !important;
}

/* line 23, ../../sass/forms.sass */
.form-errors {
  padding: 10px 0px 1px 0px;
  margin-bottom: 20px !important;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid #000;
}

/* line 30, ../../sass/forms.sass */
.multistep-form-header {
  text-align: left;
}
/* line 32, ../../sass/forms.sass */
.multistep-form-header li {
  display: inline-block;
}
/* line 34, ../../sass/forms.sass */
.multistep-form-header li.active {
  text-decoration: underline;
}

/* line 1, ../../sass/stock.sass */
.centered {
  float: none;
  margin: auto;
}

/* line 5, ../../sass/stock.sass */
.left-align {
  text-align: left;
}

/* line 8, ../../sass/stock.sass */
.right-align {
  text-align: right;
}

/* line 11, ../../sass/stock.sass */
.center-align {
  text-align: center;
}

/* line 14, ../../sass/stock.sass */
.cleared {
  clear: left;
}

/* line 17, ../../sass/stock.sass */
.hidden {
  display: none;
}

/* line 21, ../../sass/stock.sass */
.table-clickable td {
  cursor: pointer;
}

/* line 24, ../../sass/stock.sass */
.django-messages {
  padding: 10px 0px 1px 0px;
  margin-bottom: 20px !important;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 5px;
  border: 1px solid #000;
}

/* line 1, ../../sass/filter.sass */
.field-filter, .field-choice {
  margin: 0px 30px;
}

/* line 4, ../../sass/filter.sass */
.table-buttons {
  margin: 10px;
}
/* line 7, ../../sass/filter.sass */
.table-buttons button {
  margin-right: 20px;
}

/* line 1, ../../sass/footer.sass */
#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}

/* line 6, ../../sass/footer.sass */
#push {
  height: 60px;
}

/* line 9, ../../sass/footer.sass */
#footer {
  height: 60px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

/* line 14, ../../sass/footer.sass */
.credit {
  margin-top: 20px;
  color: #333;
}
