{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
 
{% include "generic/form_errors.html" %}

<div id="form-container" class="centered col-md-4">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} (required){% endif %}:</label>
      {% render_field field class+="form-control" %}
      <br>
      {% endfor %}
      <button id="btn-submit" class="btn btn-success" type="submit">Submit</button>
    </form>
    <br>
    <br>
  </div>

</div>
  
{% endblock %}
