{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require(['src/views/member-detail'], function(MemberDetailView) {
    new MemberDetailView();
  });
</script>
{% endblock %}

{% block content %}
<div id="account-detail-container" class="centered col-md-12">
  <h1 id="account-title">{{ user }}</h1>
  <br>

  <p><strong>Email:</strong> {{ user.email }}</p>
  {% if organizations|length == 1 %}
    <p><strong>1</strong> Organization</p>
  {% else %}
    <p><strong>{{ organizations|length }}</strong> Organizations</p>
  {% endif %}

  <br>
  <a href="/account/update-email/" class="btn btn-primary">Update Email</a>
  <a href="/account/update-password/" class="btn btn-warning">Update Password</a>

  <input id="user-id" type="hidden" value="{{ user.pk }}">
</div>
{% endblock %}
