{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alumnus</title>

    <!-- Vendor CSS -->
    <link href="{% static 'stylesheets/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheets/css/lib/scrolling-nav.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'stylesheets/css/src/main.css' %}" rel="stylesheet">

    {% block page_specific_css %}
    <!-- Load page-specific CSS here -->
    {% endblock %}

    <!-- Load Javascript modules -->
    <script data-main="{% static 'javascripts/main-built.js' %}" src="{% static 'javascripts/lib/requirejs/require.js' %}"></script>

    {% block require_js %}
    <!-- Load page-specific Javascript modules here -->
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div id="wrap">

      {% include "generic/nav.html" %}

      <!-- Intro Section -->
      <section id="intro" class="intro-section">
          <div class="container">
               <div class="row">
                  <div class="col-lg-12">

                    {% if messages %}
                    <div class="centered left-align col-md-6 django-messages">
                      <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}

                    {% block content %}
                      <!-- 
                      <h1>Scrolling Nav</h1>
                      <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                      <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
                      -->
                    {% endblock %}
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
              </div>
          </div>
      </section>

      <div id="push">
      </div>
    </div>

    <!-- Footer -->
    <div class="center-align col-sm-12" id="footer">
      <div class="container credit">
        <p>&copy; Alumnus &middot; <a href="http://www.ianzapolsky.com">ianzapolsky</a></p>
      </div>
    </div>

    <!-- Javascript now loaded via AMD
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    -->

</body>

</html>
