{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require(['src/views/member-detail'], function(MemberDetailView) {
    new MemberDetailView();
  });
</script>
{% endblock %}

{% block content %}
<div class="form-container">
  <h1 id="member-title">{{ member }}</h1>
  <p>{{ member.email }}</p>
  
  <h5><a href="{{ member.get_send_mail_url }}">Send message to member</a></h5>
  <h5><a href="{{ member.get_update_url }}">Edit member information</a></h5>
  <button id="member-update-request" class="btn btn-success">Request member information</button>
  
  <input id="member-id" type="hidden" value="{{ member.pk }}">
  <button id="member-delete" class="btn btn-danger">Delete member</button>
</div>
{% endblock %}
