{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require(['src/views/memberlist-list'], function(MemberlistListView) {
    new MemberlistListView();
  });
</script>
{% endblock %}

{% block content %}
<h2><a href="{{ organization.get_absolute_url }}">{{ organization }}</a> memberlists</h2>
<br>

<div id="memberlist-container">

  <div class="col-sm-6">
    {% for memberlist in memberlists %}
    <h3 data-memberlist-id="{{ memberlist.pk }}" class="memberlist-link"><a href="{{ memberlist.get_absolute_url }}">{{ memberlist }}</a></h3>
    {% empty %}
    <h4>You have no MemberLists</h4>
    {% endfor %}
    <br>
    <h5><a href="{{ organization.get_create_memberlist_url }}">Add memberlist</a></h5>
  </div>

  <div id="memberlist-members" class="col-sm-6">
  </div>

  <br>
  
  {% for memberlist in memberlists %}
  <input class="memberlist-id" type="hidden" value="{{ memberlist.pk }}">
  {% endfor %}

  <script type="text/template" id="member-list-template">
    <table class="left-align table table-hover">
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      <% _.each(Members.models, function(member, index) { %>
      <tr href="/members/<%= member.get('pk') %>">
        <td><%= index + 1 %></td>
        <td><%= member.get('fields').firstname %></td>
        <td><%= member.get('fields').lastname %></td>
        <td><%= member.get('fields').email %></td>
      </tr>
      <% }); %>
    </table>
    <h5><a href="/memberlists/<%= Members.memberlist_id %>/">Detail View</h5>
    <h5><a href="/memberlists/<%= Members.memberlist_id %>/send-mail/">Send message to memberlist</a></h5>
    <h5><a href="/memberlists/<%= Members.memberlist_id %>/update/">Update memberlist</a></h5>
  </script>

</div>

</div>

{% endblock %}

