{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require(['src/views/member-list',
           'src/views/member-list-filter',
           'src/views/table-buttons',
           'src/views/email-form',
           'src/views/request-info-form',
          ], function(MemberListView, MemberListFilterView, TableButtonsView, EmailFormView, RequestInfoFormView) {
    new MemberListView();
    new MemberListFilterView();
    new TableButtonsView();
    new EmailFormView();
    new RequestInfoFormView();
  });
</script>
{% endblock %}

{% block content %}

<div class="member-list-container">
  
  {% include "generic/templates.html" %}
  
  <div id="messages-container">
  </div>

  <h2><a href="{{ organization.get_absolute_url }}" >{{ organization }}</a> Members ({{ members.count }})</h2>
  <br>

  <div class="left-align col-sm-3 filters">
    <div class="left-align col-sm-10">
      {% include "generic/filter.html" %}
    </div>
  </div>
  
  <div class="centered col-sm-6">
    {% include "generic/member_table_detail.html" %}

    <button id="member-send-mail" class="btn btn-primary">Send Mail</button>
    <button id="member-request-info" class="btn btn-success">Request Member information</button>
  </div>
  <br>

  <div class="centered col-sm-6" id="send-mail-container">
  </div>
  <br>

  <div class="centered col-sm-6">
    <a class="btn btn-primary" href="{{ organization.get_create_member_url }}">Add member</a>
  </div>

  <input id="organization-id" type="hidden" value="{{ organization.pk }}"> 

</div>
{% endblock %}

