{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require([
    'src/views/memberlist-detail',
    'src/views/table-buttons',
    'src/views/member-list',
    'src/views/email-form',
    'src/views/request-info-form'
  ], function(MemberListDetailView, TableButtonsView, MemberListView, EmailFormView, RequestInfoFormView) {
    new MemberListDetailView();
    new TableButtonsView();
    new MemberListView();
    new EmailFormView();
    new RequestInfoFormView();
  });
</script>
{% endblock %}

{% block content %}
<div class="member-list-container">
    
  {% include "generic/templates.html" %}

  <div id="messages-container">
  </div>

  <h2>{{ memberlist }}</h2>
  <br>

  <div class="centered col-sm-6">

    {% include "generic/member_table_detail.html" %}

    <a id="member-send-mail" class="btn btn-primary">Send Mail</a>
    <a id="member-request-info" class="btn btn-success">Request Member Information</a>
    <br>
    <br>
  </div>

  <div class="centered col-sm-6" id="send-mail-container">
  </div>

  <div class="centered col-sm-6">
    <a class="btn btn-warning" href="{{ memberlist.get_update_url }}">Update MemberList</a>
    <button id="memberlist-delete" class="btn btn-danger">Delete MemberList</button>
    <br>
  </div>

  <input id="memberlist-id" type="hidden" value="{{ memberlist.pk }}">

</div>

{% endblock %}
