{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require(['src/views/member-detail'], function(MemberDetailView) {
    new MemberDetailView();
  });
</script>
{% endblock %}

{% block content %}
<div class="member-detail-container" class="centered col-md-12">
  
  {% include "generic/templates.html" %}

  <div id="messages-container">
  </div>

  <h1 id="member-title">{{ member }}</h1>
  <br>

  {% include "generic/member_table_full.html" %}
  
  <a class="btn btn-primary" href="{{ member.get_send_mail_url }}">Send email to Member</a>
  <a class="btn btn-warning" href="{{ member.get_update_url }}">Edit Member Information</a>

  <button id="member-request-info" class="btn btn-success">Request Member information</button>
  <button id="member-delete" class="btn btn-danger">Delete member</button>
  
  <input id="member-id" type="hidden" value="{{ member.pk }}">
</div>
{% endblock %}
