{% extends "base.html" %}
{% load staticfiles %}

{% block require_js %}
<script>
  require(['src/views/organization-list'], function(OrganizationListView) {
    new OrganizationListView();
  });
</script>
{% endblock %}

{% block content %}
<p>Hello, {{ user }}</p>
<div class="centered center-align col-md-12">
  <h3>Your Organizations</h3>
  <br>
  <div id="organization-container" class="centered col-md-6">
    <table class="table">
      {% for org in organizations %}
      <tr>
        {% if org.owner == user %}
          <td><a href="{{ org.get_absolute_url }}"><h4>{{ org }}</h4></a></td>
          <td><a href="{{ org.get_update_url }}" class="btn btn-warning">Update</a></td>
          <td><a data-organization-id="{{ org.pk }}" class="organization-delete btn btn-danger">Delete</a></td>
        {% else %}
          <td><a href="{{ org.get_absolute_url }}"><h4>{{ org }}</h4></a></td>
          <td></td>
          <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    <a class="btn btn-primary" href="/organizations/create">Add Organization</a>
  </div>
</div>

{% endblock %}
