<h2>Hi there {{ member }},</h2>

<p>{{ user }} has added you as a member of an organization called <strong>{{ organization }}</strong> on Alumnus.</p>

<p>Please follow the link below to add information about yourself to the database so your organization leader can know more about who you are, what information you might be interested, and how best to contact you.</p>

<p>{{ site_name }}{{ member.get_public_update_url }}</p>

<p>Note that this link will expire in 24 hours.</p>

<p>Thanks,</p>

<p>Alumnus</p>
