<h2>Hi there {{ user }},</h2>

<p>You (or someone pretending to be you) has asked to register an account at
Alumnus. If this wasn't you, please ignore this email and your address will be 
removed from our records.</p>

<p>To activate your account at Alumnus, please click the following link:</p>

<p>{{ site_name }}activate/{{ token }}</p>

<p>Note that this link will expire in 24 hours. If this occurrs, your account will be deleted and you may re-register with the same username.</p>

<p>Thanks,</p.>

<p>Alumnus</p>
