{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="form-container col-md-4">

  <div class="form-group">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {% render_field form.username class+="form-control" %}
      <label for="{{ form.password.id_for_label }}">Password:</label>
      {% render_field form.password class+="form-control" %}
      <br>
      <button class="btn btn-success" type="submit">Login</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>

<h2><a href="/register">Create an account</a></h2>

{% endblock %}
