{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block require_js %}
<script>
  require(['src/views/user-login'], function(UserLoginView) {
    new UserLoginView();
  });
</script>
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="centered left-align col-md-6 form-errors">
  <ul>
    <li>Your username and password didn't match.</li>
  </ul>
</div>
{% endif %}

<div id="login-container" class="centered col-md-4">

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {% render_field form.username id="username" required="" class+="form-control" %}
      <br>
    </div>
    <div class="form-group">
      <label for="{{ form.password.id_for_label }}">Password:</label>
      {% render_field form.password id="password" required="" class+="form-control" %}
      <br>
    </div>
    <button id="btn-submit" class="btn btn-success" type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
<br>

<a class="btn btn-primary" href="/register">Create an account</a>

{% endblock %}
