{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
 
<div class="form-container col-md-4">

  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      
      {% for error in form.errors %}
        <p>{{ error }}</p>
      {% endfor %}

      <label for="{{ form.username.id_for_label }}">Username:</label>
      {% render_field form.username class+="form-control" %}
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {% render_field form.email class+="form-control" %}
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {% render_field form.password1 class+="form-control" %}
      <label for="{{ form.password2.id_for_label }}">Password again:</label>
      {% render_field form.password2 class+="form-control" %}
      <br>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>

</div>
  
{% endblock %}
