{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block require_js %}
<script>
  require(['src/views/user-register'], function(UserRegisterView) {
    new UserRegisterView();
  });
</script>
{% endblock %}

{% block content %}

{% include "generic/form_errors.html" %}
 
<div id="register-container" class="centered col-md-4">

  <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {% render_field form.username id="username" required="" class+="form-control" %}
      <br>
    </div>

    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {% render_field form.email id="email" required="" class+="form-control" %}
      <br>
    </div>
    
    <div class="form-group">
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {% render_field form.password1 id="password1" required="" class+="form-control" %}
      <br>
    </div>
    
    <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">Password again:</label>
      {% render_field form.password2 id="password2" required="" class+="form-control" %}
      <br>
    </div>

    <button id="btn-submit" class="btn btn-success" type="submit">Submit</button>
  </form>

</div>
  
{% endblock %}
