{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block require_js %}
<script>
  require(['src/views/user-register'], function(UserRegisterView) {
    new UserRegisterView();
  });
</script>
{% endblock %}

{% block content %}
 
<div class="form-container col-md-4">

  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      
      {% for error in form.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {% for error in form.username.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      {% render_field form.username id="username" required="" class+="form-control" %}
      <br>
      {% for error in form.email.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {% render_field form.email required="" class+="form-control" %}
      <br>
      {% for error in form.password1.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {% render_field form.password1 id="password1" required="" class+="form-control" %}
      <br>
      {% for error in form.password2.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      <label for="{{ form.password2.id_for_label }}">Password again:</label>
      {% render_field form.password2 id="password2" required="" class+="form-control" %}
      <br>
      <button id="btn-submit" class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>

</div>
  
{% endblock %}
